<configuration>

    <conversionRule conversionWord="traceToken" converterClass="kamon.trace.logging.LogbackTraceTokenConverter" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- Text to console, mainly used in development and when no Logstash is available -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss'Z',UTC} %-5level [%traceToken][%X{akkaSource}] %logger{55} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="info" />
    <logger name="org.pac4j" level="info" />
    <logger name="spray.client" level="info" />
    <logger name="spray.http" level="info" />
    <logger name="akka.io.TcpListener" level="info"/>
    <logger name="akka" level="info" />
    <logger name="org.opensaml" level="INFO" />
    <logger name="net.shibboleth" level="INFO" />
    <logger name="com.qvantel.servicetemplate" level="info"/>

    <logger name="com.qvantel.rubik.csr" level="debug" />

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>
